<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>MindRdr: A Sentiment Analysis App</title>
    </head>
    <body>

        <header>
            <div id="app-name">
                MindRdr
            </div>
            <div id="app-headline">
                Use NLP to decode feelings from text!
            </div>
        </header>

        <main>

            <section id="about" class="animate__animated animate__zoomIn animate__slow">
                <p><span>MindRdr</span> performs sentiment analysis on text using Natural Language Processing (NLP).</p>
            </section>

            <section id="enter-text">
                <form id="form">
                    <label for="input-text">Enter the text you'd like to analyze.</label>
                    <textarea id="input-text" type="text" name="input" value="" minlength="50" required></textarea>
                    <input id="form-submit" type="submit"  value="Analyze Sentiments">
                </form>
            </section>

            <section id="sentiments">
                <div id="error-message"></div>
                <div id="results-title"></div>
                <div id="results">
                    <div class="sentiment-grid">
                        <div class="emoji" id="agreement-emoji"></div>
                        <p id="agreement"></p>
                    </div>
                    <div class="sentiment-grid">
                        <div class="emoji" id="subjectivity-emoji"></div>
                        <p id="subjectivity"></p>
                    </div>
                    <div class="sentiment-grid" >
                        <div class="emoji" id="confidence-emoji"></div>
                        <p id="confidence"></p>
                    </div>
                    <div class="sentiment-grid">
                        <div class="emoji" id="irony-emoji"></div>
                        <p id="irony"></p>
                    </div>
                </div>
            </section>

        </main>

        <footer>
            <p>Developed for Udacity Front End Web Developer Nanodegree Program</p>
        </footer>
        <!-- Disabled during dev --
            <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>   -->
    </body>
</html>
